/* Лоадер (круговой спиннер) */
.custom-loader {
    border: 4px solid rgba(0, 0, 0, 0.5);
    /* Легкая граница */
    border-top: 4px solid #fff;
    /* Цвет вращающейся части */
    border-radius: 50%;
    width: 24px;
    /* Ширина спиннера */
    height: 24px;
    /* Высота спиннера */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}