header {
    @apply bg-cover bg-no-repeat;
    background-color: rgba(1, 1, 1, 0.3);
    background-position: center;
}

.header {
    @apply font-sans h-[50vh] xl:h-custom-height-full flex flex-col justify-end;
    background-color: rgba(1, 1, 1, 0.3);
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  
    .header_main {
            @apply max-w-[var(--container-bg)] xl:w-full flex justify-center text-white  mb-8;
            .button{
                @apply mx-auto mb-[50px];
            }

        }
};


.header_main h3,
.header_main h6 {
    @apply text-center text-[34px] font-semibold text-[#ffff] mb-[50px];
}

.logo_wrapper {
    @apply w-[87px] xl:w-[132px];
}

.logo {
    @apply w-full;
}
.header_nav_wrapper{
    @apply flex justify-between xl:mt-3 px-3 xl:w-[1400px] xl:mx-auto xl:absolute xl:left-1/2 xl:transform xl:-translate-x-1/2;
    
    .header_links_wrapper{
        @apply hidden xl:flex text-[#ffff] gap-5 items-center ml-auto;
        a{
            @apply text-base;
        }
    }
}
.add_style_header{
    @apply top-[6px]
}
.header_auth_icon {
    width: 40px;
    margin-left: auto;
    margin-right: 25px;
    display: flex;
    align-items: center;
}

@media (min-width: 1280px) {
    .header_auth_icon {
        margin-left: 80px;
    }
}
.skeleton-background {
    background-color: #e0e0e0;
    
    background-image: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    from {
        background-position: 200% 0;
    }

    to {
        background-position: -200% 0;
    }
}