.slider_wrapper{
    @apply bg-very-light-gray pt-[22px] flex flex-col justify-center pb-6 xl:pt-0 xl:pb-0;
    .slider{
        @apply w-[90%] m-auto xl:ml-auto xl:m-0 flex flex-col justify-center;
        .slick-prev::before,
            .slick-next::before {
                color: black;
                opacity: 0.7;
                font-size: 30px;
            }
        .slick-prev{
            left: -25px !important;

        }
        .slick-next{
            right: -16px !important;
           
                }
                @media (min-width: 1280px) {
                .slick-next {
                right: 7px !important;
                  }
                }
              
                
        .slide {
                display: flex !important;
                 justify-content: end !important;
                width: 151px !important;
                }
        
                @media (min-width: 1360px) {
                    .slide {
                        width: 272px !important;
                    }
                }
                @media (min-width: 1280px) {
                    .slick-list {
                        margin-left: 13px !important;
                    }
                }
                 @media (min-width: 1280px) {
                    .slick-list {
                    margin-left: 13px !important;
                     }
                 }
        @media (max-width: 1280px) {
            .slick-list {
                margin-left: 21px !important;
            }
        }
   
                }
       
  
}
