.button{
    font-family: 'Open Sans', sans-serif;
    padding: 17.5px 0;
    max-width: 360px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    border-radius: 28px;
    outline: none;
    border: 0;
    cursor: pointer;
    display: block;
}
.primary-button{
     color: #F0F0F0;
     background: #687D6B;
     @apply xl:hover:bg-xanadu-hover active:bg-xandu-active transition  duration-300 ease-in-out;
 }
.primary-button:active{
    background: #556658;
}
.secondary-button{
    border: 1px solid #687D6B;
    color: #474E54;
    background: transparent;
}

.secondary-button{
    @apply transition duration-700 ease-in-out;
    @apply xl:hover:bg-xanadu-dark xl:hover:text-secondary-button-hover;
}
.cancel_button{
    @apply bg-red-800 w-full text-white;
    @apply duration-300 ease-in-out active:bg-red-button-active xl:hover:bg-red-button-hover;
}
@media (max-width: 1350px) {
    .button{
        max-width: 360px;
    }
}
@media (max-width: 420px) {
    .button{
        max-width: 325px;
    }
}