.reset_password_page_wrapper{
    @apply w-full px-[20px] bg-[#ffff] h-[90vh] flex flex-col items-center justify-center gap-6;
    .univarsal_title_wrapper{
       .title{
        @apply font-semibold text-xl text-xanadu;
       }
    };
    .univarsal_desc_wrapper {
        .title {
                @apply text-sm; 
            }
}
}
.reset_password_form{
    @apply bg-[#ffff] flex flex-col gap-4 py-7 items-center;
    input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
}