
.reservation-page{
    @apply bg-[#ffff];
}
.reservation-page__wrapper{
    @apply py-[20px];
    @apply xl:max-w-[1400px] xl:mx-auto xl:py-[20px];
    .univarsal_title_wrapper{
        @apply text-2xl text-center mt-8;
        @apply xl:text-3xl xl:max-w-[570px] xl:mt-10 xl:text-left;
        
       
    }
}
 .reservation-page__background {
     @apply xl:bg-xanadu xl:h-[50px];
 }

.tables_wrapper{
    @apply flex flex-wrap  gap-[24px] pt-[20px] justify-center p-4 bg-[#ffff] m-auto;
    @apply xl:grid xl:grid-cols-4;
    
    .table_card{
        @apply  w-[151px] h-[149px]   grid text-center rounded-xl justify-center items-center p-4 text-white;
        @apply shadow-lg shadow-slate-300;
        @apply bg-cover xl:w-auto xl:h-[280px] xl:text-[34px] duration-300 ease-out xl:hover:scale-105 xl:cursor-pointer;
        background-color: rgba(0, 0, 0, 0.4);    
        background-blend-mode: darken;
        
        
        p{
            @apply text-[#ffff] self-end;
            @apply xl:text-[34px] xl:min-w-[292px];
        }
        h5{
            @apply text-[12px] text-[#ffff] self-start;
            @apply xl:text-[20px];
        }
        h6{
            @apply text-[12px] self-end;
            @apply xl:text-[20px] xl:xl:ml-auto;
        }
    }
    
}
.reservation_form{
    @apply flex flex-col bg-pale_grey w-[360px] px-[20px] py-[20px]  rounded-2xl gap-4 mb-10 mx-auto;
    @apply fixed z-10 left-1/2 top-1/2;
    @apply xl:w-[500px];
    
    transform: translate(-50%, -50%);
    
    
    input{
        @apply w-full py-[16px] px-[18px] rounded-[28px] bg-[#F2F2F2];
    };
    p{
    @apply w-full py-[16px] px-[18px] rounded-[28px];
    }
    .button{
        @apply  max-w-full;
    }
    .focused_table{
        @apply rounded-xl self-end bg-cover;
        background-color: rgba(0, 0, 0, 0.4);
            background-blend-mode: darken;

        p{
            @apply m-auto text-white text-[22px] text-center;
        }
    }
   
       

}

.focused_table_wrapper{
    @apply flex justify-between items-start;
    img{
        @apply transition xl:hover:scale-110 duration-300 ease-in-out xl:cursor-pointer;
    };
    h3{
        @apply text-xl font-semibold;
    }
    }
.focused_table{
@apply w-[150px] h-[150px] 
}

 .reserv-modal-class .ant-modal-content {
     background-color: transparent !important;
     box-shadow: none !important;
     padding: 0% !important;

 }
 .overlay {
     @apply fixed inset-0 bg-black bg-opacity-50;
     z-index: 9;
     display: block; 
     
     
 }
.current_resrvation_wrapper {
    @apply bg-[#ffff] text-center py-[30px] grid xl:grid-cols-2 gap-4 max-w-[314px] m-auto;
    @apply xl:max-w-full xl:px-[20px] xl:justify-items-center;

    .reservation {
        @apply bg-pale_grey rounded-[20px] flex flex-col gap-[10px] xl:items-center;
        @apply px-[17px] py-[33px] xl:gap-3 shadow-lg shadow-slate-300;
        @apply xl:px-[74px] xl:py-[35px] xl:max-w-[535px] xl:w-full;

        h3,
        h5 {
            @apply bg-gray-95 xl:w-full py-3 px-5 rounded-[23px] text-left text-black-50;
        }

        .primary-button {
            @apply mt-[3px];
            @apply xl:max-w-full xl:mt-[14px];
        }

    }
}
.reservation-page__basket-nav-tabs{
    @apply xl:flex xl:justify-between;
}
