@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: var(--color-primary-green);
    @apply px-[7px] xl:pt-[40px];
    
}



:root {
    --color-primary-green: #687D6B;
    --color-primary-dark-grey: #474E54;
    --color-primary-grey: #D2D2D2;
    --color-primary-white: #F0F0F0;

    --color-secondary-green: #556658;
    --color-secondary-light-grey: #EFEAE7;
    --color-secondary-grey: #979797;

    --color-succes: #00AD19;
    --color-error: #FF1E1E;

    --container-bg: 1248px;
}


.main_wrapper{
    @apply max-w-[420px] m-auto pb-6 xl:max-w-full;
}
.hidde{
    display: none;
}
.extra-header__background{
    @apply xl:bg-xanadu xl:h-[50px];
}
.univarsal_title_wrapper{
    @apply w-full px-[20px];
};
.universal_desc_wreapper{
    @apply w-full px-[20px];
}
input:-webkit-autofill {
    background-color: white !important;
    /* Убедитесь, что цвет фон задается */
    color: black !important;
    /* Цвет текста также можно задать */
}

/* Примените другие свойства по вашему усмотрению */
input,
select,
textarea {
    -webkit-appearance: none;
    /* Убираем дефолтные стили Safari */
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    padding: 10px;
    /* Управляем внутренними отступами */
    box-sizing: border-box;
    /* Для контроля размеров */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #000;
}