
.account_wrapper {
    @apply flex flex-col w-full gap-6 bg-[#EFEAE7] items-center p-6;
   

    .avatar {
        @apply w-48 h-48 rounded-full object-cover;
    }

    .user_info {
        @apply text-center space-y-2;

        p {
            @apply text-lg font-medium text-gray-700;
        }

        .user_name {
            @apply text-2xl font-bold text-gray-900;
        }

        .user_email {
            @apply text-lg text-blue-600;
        }

        .user_tel {
            @apply text-lg text-green-600;
        }
    }

  

    button {
        @apply border-2 border-gray-500 rounded-lg w-48 p-2 bg-white hover:bg-gray-100 transition ease-in-out duration-150;
    }
}
.my_account_section{
    @apply bg-very-light-gray py-5;
}
.my_acc_wrapper{
    @apply m-auto w-full px-[20px] flex flex-col gap-3 h-[89vh];
    .avatar{
        @apply w-[127px] h-[151px] rounded-xl mt-3;
    }
    .my_acc_name{
        @apply text-2xl font-semibold mt-[12px];
    }
    .my_acc_email,.my_acc_number{
        @apply text-xl;
        
    }
    .my_acc_edit_wrapper{
        @apply flex gap-4  w-full justify-between;
        
    }
    .my_acc_edit_input_wrapper{
        @apply w-full flex justify-between;
        
        .my_acc_edit_input_close{
            @apply w-[25px]
        }
       

    }
   
    .edit_button{
        @apply bg-transparent shadow-none;
        transition: scale 0.3s ease-in-out, transform 0.3s ease-in-out;
        padding: 0;
    }
        .edit_button:hover{
            background-color: transparent !important;
            scale: 1.05;
        }
   
}
.custom-ok-button {
    background-color: #687D6B;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.custom-ok-button:hover {
    background-color: #5A6F5E !important;
    
    transform: scale(1.05);
}

.input {
    width: 90%;
    border-radius: 10px;
    border: 1px solid #687D6B;
    padding: 5px;
    transition: border 0.3s ease-in-out;
}
.custom-cancel-button:hover{
border-color: rgb(187, 9, 9) !important ;
color: rgb(187, 9, 9) !important;
}
.my_acc_logout{
    @apply w-full bg-xanadu py-[17px] rounded-[28px]  text-white mt-auto text-center;
}
 .myacc-modal-class {
     background-color: white !important;
     box-shadow: none !important;
     padding: 0% !important;

 }