@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

header{
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(1, 1, 1, 0.3);
}

.header{
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: flex-end;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: rgba(1, 1, 1, 0.3);
  text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  .header_main{
    margin-bottom: 2rem;
  }
  .header_main{
    display: flex;
  }
  .header_main{
    max-width: var(--container-bg);
  }
  .header_main{
    justify-content: center;
  }
  .header_main{
    --tw-text-opacity: 1;
    color: rgb(229 229 229 / var(--tw-text-opacity));
  }
}

.header_main h3,
.header_main h6{
  text-align: center;
  font-size: 34px;
  font-weight: 600;
}

.logo_wrapper{
  width: 87px;
}

.logo{
  width: 87px;
}

.header_nav_wrapper{
  margin-top: 0.75rem;
  display: flex;
  justify-content: space-between;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.header_autth_icon{
  margin-left: auto;
  margin-right: 25px;
  width: 40px;
}

.auth_form_wrapper{
  height: 90vh;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(253 245 245 / var(--tw-bg-opacity));
  padding-top: 52px;
  padding-bottom: 52px;
  .login_form{
    margin: auto;
  }
  .login_form{
    display: flex;
  }
  .login_form{
    height: 100%;
  }
  .login_form{
    width: 320px;
  }
  .login_form{
    flex-direction: column;
  }
  .login_form{
    gap: 24.5px;
  }
  .form_inputs_wrapper{
    margin-top: auto;
  }
  .form_inputs_wrapper{
    display: flex;
  }
  .form_inputs_wrapper{
    flex-direction: column;
  }
  .form_inputs_wrapper{
    gap: 12.24px;
  }
  .form_inputs_wrapper {
    input{
      border-radius: 28px;
    }
    input{
      border-width: 1px;
    }
    input{
      --tw-border-opacity: 1;
      border-color: rgb(104 125 107 / var(--tw-border-opacity));
    }
    input{
      --tw-bg-opacity: 1;
      background-color: rgb(229 229 229 / var(--tw-bg-opacity));
    }
    input{
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    input{
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
    input:focus{
      --tw-border-opacity: 1;
      border-color: rgb(104 125 107 / var(--tw-border-opacity));
    }
    input:focus{
      --tw-ring-opacity: 1;
      --tw-ring-color: rgb(104 125 107 / var(--tw-ring-opacity));
    }
    input{
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
    input{
      transition-duration: 500ms;
    }
    input{
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    input:hover{
      --tw-scale-x: 1.05;
      --tw-scale-y: 1.05;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    input:active{
      --tw-bg-opacity: 1;
      background-color: rgb(85 102 88 / var(--tw-bg-opacity));
    }
  }
  .buttons_wrapper{
    margin-top: auto;
  }
  .buttons_wrapper{
    display: flex;
  }
  .buttons_wrapper{
    flex-direction: column;
  }
  .buttons_wrapper{
    gap: 14px;
  }
  .buttons_wrapper {
    button{
      border-radius: 28px;
    }
    button{
      --tw-bg-opacity: 1;
      background-color: rgb(104 125 107 / var(--tw-bg-opacity));
    }
    button{
      padding-top: 17.5px;
      padding-bottom: 17.5px;
    }
    button{
      --tw-text-opacity: 1;
      color: rgb(253 245 245 / var(--tw-text-opacity));
    }
    button{
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
    button{
      transition-duration: 500ms;
    }
    button{
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    button {
      &:first-child{
        --tw-bg-opacity: 1;
        background-color: rgb(104 125 107 / var(--tw-bg-opacity));
      }
      &:first-child{
        --tw-text-opacity: 1;
        color: rgb(253 245 245 / var(--tw-text-opacity));
      }
      @media (min-width: 768px){
        &:first-child:hover{
          --tw-bg-opacity: 1;
          background-color: rgb(85 102 88 / var(--tw-bg-opacity));
        }
      }
      @media (min-width: 768px){
        &:first-child:active{
          --tw-bg-opacity: 1;
          background-color: rgb(68 81 71 / var(--tw-bg-opacity));
        }
      }
      &:not(:first-child){
        border-width: 1px;
      }
      &:not(:first-child){
        --tw-border-opacity: 1;
        border-color: rgb(104 125 107 / var(--tw-border-opacity));
      }
      &:not(:first-child){
        --tw-bg-opacity: 1;
        background-color: rgb(253 245 245 / var(--tw-bg-opacity));
      }
      &:not(:first-child){
        font-weight: 700;
      }
      &:not(:first-child){
        --tw-text-opacity: 1;
        color: rgb(104 125 107 / var(--tw-text-opacity));
      }
      &:not(:first-child):hover{
        --tw-text-opacity: 1;
        color: rgb(253 245 245 / var(--tw-text-opacity));
      }
      @media (min-width: 768px){
        &:not(:first-child):hover{
          --tw-bg-opacity: 1;
          background-color: rgb(104 125 107 / var(--tw-bg-opacity));
        }
      }
      @media (min-width: 768px){
        &:not(:first-child):active{
          --tw-bg-opacity: 1;
          background-color: rgb(85 102 88 / var(--tw-bg-opacity));
        }
      }
    }
    a{
      border-radius: 28px;
    }
    a{
      border-width: 1px;
    }
    a{
      --tw-border-opacity: 1;
      border-color: rgb(104 125 107 / var(--tw-border-opacity));
    }
    a{
      --tw-bg-opacity: 1;
      background-color: rgb(253 245 245 / var(--tw-bg-opacity));
    }
    a{
      padding-top: 17.5px;
      padding-bottom: 17.5px;
    }
    a{
      text-align: center;
    }
    a{
      font-weight: 700;
    }
    a{
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
    a{
      transition-duration: 500ms;
    }
    a{
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    a:hover{
      --tw-bg-opacity: 1;
      background-color: rgb(104 125 107 / var(--tw-bg-opacity));
    }
    a:hover{
      --tw-text-opacity: 1;
      color: rgb(253 245 245 / var(--tw-text-opacity));
    }
    a:active{
      --tw-bg-opacity: 1;
      background-color: rgb(85 102 88 / var(--tw-bg-opacity));
    }
  }
  .res_password{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .res_password{
    text-decoration-line: underline;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--color-primary-green);
  padding-left: 7px;
  padding-right: 7px;
}

:root {
  --color-primary-green: #687D6B;
  --color-primary-dark-grey: #474E54;
  --color-primary-grey: #D2D2D2;
  --color-primary-white: #F0F0F0;
  --color-secondary-green: #556658;
  --color-secondary-light-grey: #EFEAE7;
  --color-secondary-grey: #979797;
  --color-succes: #00AD19;
  --color-error: #FF1E1E;
  --container-bg: 1248px;
}

.main_wrapper{
  margin: auto;
  max-width: 420px;
  padding-bottom: 1.5rem;
}

.hidde{
  display: none;
}

.burger_menu_icon_open{
  display: block;
  height: 12px;
  width: 36px;
  cursor: pointer;
  align-self: center;
  border-top-width: 2px;
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(229 229 229 / var(--tw-border-opacity));
}

@media (min-width: 1280px){
  .burger_menu_icon_open{
    display: none;
  }
}

.burger_menu_icon_close{
  position: relative;
  z-index: 40;
  margin: 1.5rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  .line1,
    .line2{
    position: absolute;
  }
  .line1,
    .line2{
    display: block;
  }
  .line1,
    .line2{
    height: 0.25rem;
  }
  .line1,
    .line2{
    width: 42px;
  }
  .line1,
    .line2{
    --tw-bg-opacity: 1;
    background-color: rgb(229 229 229 / var(--tw-bg-opacity));
  }
  .line1{
    top: 50%;
  }
  .line1{
    left: 50%;
  }
  .line1{
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .line1{
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .line1{
    --tw-rotate: 45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .line1{
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .line2{
    top: 50%;
  }
  .line2{
    left: 50%;
  }
  .line2{
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .line2{
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .line2{
    --tw-rotate: -45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .line2{
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

.burger_menu{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  background-color: rgba(0, 0, 0, 0.9);
}

.burger_nav_links_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  vertical-align: middle;
  a{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  a{
    --tw-text-opacity: 1;
    color: rgb(229 229 229 / var(--tw-text-opacity));
  }
}

.text_block_wrapper{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  --tw-bg-opacity: 1;
  background-color: rgb(253 245 245 / var(--tw-bg-opacity));
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 48px;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  .text_block_title{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .text_block_title{
    font-weight: 600;
  }
  .text_block_text_wrapper{
    margin-top: 24px;
  }
  .text_block_text_wrapper{
    display: flex;
  }
  .text_block_text_wrapper{
    flex-direction: column;
  }
  .text_block_text_wrapper{
    gap: 1rem;
  }
  .text_block_text_wrapper{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.slider_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(253 245 245 / var(--tw-bg-opacity));
  padding-top: 22px;
  padding-bottom: 1.5rem;
  .slider{
    margin: auto;
  }
  .slider{
    display: flex;
  }
  .slider{
    width: 90%;
  }
  .slider{
    flex-direction: column;
  }
  .slider{
    justify-content: center;
  }
  .slider{
    .slick-prev::before,
            .slick-next::before {
      color: black;
      opacity: 0.7;
      font-size: 30px;
    }
    .slick-prev{
      left: -25px !important;
    }
    .slick-next{
      right: -16px !important;
    }
    .slide{
      display: flex !important;
      justify-content: end !important;
      width: 151px !important;
    }
    .slick-list{
      margin-left: 13px !important;
    }
  }
}

.info_card{
  display: flex;
  height: 283px;
  max-width: 160px;
  flex-direction: column;
  gap: 6px;
  --tw-bg-opacity: 1;
  background-color: rgb(239 234 231 / var(--tw-bg-opacity));
  padding: 10px;
  h6{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  p{
    display: flex;
  }
  p{
    min-height: 68px;
  }
  p{
    flex-direction: column;
  }
  p{
    justify-content: center;
  }
  p{
    font-size: 0.75rem;
    line-height: 1rem;
  }
  p{
    line-height: 1.5rem;
  }
  img{
    height: 161px;
  }
}

.account_wrapper{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(239 234 231 / var(--tw-bg-opacity));
  padding: 1.5rem;
  .avatar{
    height: 12rem;
  }
  .avatar{
    width: 12rem;
  }
  .avatar{
    border-radius: 9999px;
  }
  .avatar{
    -o-object-fit: cover;
       object-fit: cover;
  }
  .user_info > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
  }
  .user_info{
    text-align: center;
  }
  .user_info {
    p{
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
    p{
      font-weight: 500;
    }
    p{
      --tw-text-opacity: 1;
      color: rgb(55 65 81 / var(--tw-text-opacity));
    }
    .user_name{
      font-size: 1.5rem;
      line-height: 2rem;
    }
    .user_name{
      font-weight: 700;
    }
    .user_name{
      --tw-text-opacity: 1;
      color: rgb(17 24 39 / var(--tw-text-opacity));
    }
    .user_email{
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
    .user_email{
      --tw-text-opacity: 1;
      color: rgb(37 99 235 / var(--tw-text-opacity));
    }
    .user_tel{
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
    .user_tel{
      --tw-text-opacity: 1;
      color: rgb(22 163 74 / var(--tw-text-opacity));
    }
  }
  button{
    width: 12rem;
  }
  button{
    border-radius: 0.5rem;
  }
  button{
    border-width: 2px;
  }
  button{
    --tw-border-opacity: 1;
    border-color: rgb(107 114 128 / var(--tw-border-opacity));
  }
  button{
    --tw-bg-opacity: 1;
    background-color: rgb(229 229 229 / var(--tw-bg-opacity));
  }
  button{
    padding: 0.5rem;
  }
  button{
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  button{
    transition-duration: 150ms;
  }
  button{
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  button:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }
}

.my_account_section{
  --tw-bg-opacity: 1;
  background-color: rgb(253 245 245 / var(--tw-bg-opacity));
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.my_acc_wrapper{
  margin: auto;
  display: flex;
  height: 89vh;
  width: 380px;
  flex-direction: column;
  gap: 0.75rem;
  .avatar{
    margin-top: 0.75rem;
  }
  .avatar{
    height: 151px;
  }
  .avatar{
    width: 127px;
  }
  .avatar{
    border-radius: 0.75rem;
  }
  .my_acc_name{
    margin-top: 12px;
  }
  .my_acc_name{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .my_acc_name{
    font-weight: 600;
  }
  .my_acc_email,.my_acc_number{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .my_acc_edit_wrapper{
    display: flex;
  }
  .my_acc_edit_wrapper{
    width: 100%;
  }
  .my_acc_edit_wrapper{
    justify-content: space-between;
  }
  .my_acc_edit_wrapper{
    gap: 1rem;
  }
  .my_acc_edit_input_wrapper{
    display: flex;
  }
  .my_acc_edit_input_wrapper{
    width: 100%;
  }
  .my_acc_edit_input_wrapper{
    justify-content: space-between;
  }
  .my_acc_edit_input_wrapper{
    .my_acc_edit_input_close{
      width: 25px;
    }
  }
  .edit_button{
    background-color: transparent;
  }
  .edit_button{
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .edit_button{
    transition: scale 0.3s ease-in-out, transform 0.3s ease-in-out;
    padding: 0;
  }
  .edit_button:hover{
    background-color: transparent !important;
    scale: 1.05;
  }
}

.custom-ok-button {
  background-color: #687D6B;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.custom-ok-button:hover {
  background-color: #5A6F5E !important;
  transform: scale(1.05);
}

.input {
  width: 90%;
  border-radius: 10px;
  border: 1px solid #687D6B;
  padding: 5px;
  transition: border 0.3s ease-in-out;
}

.custom-cancel-button:hover{
  border-color: rgb(187, 9, 9) !important ;
  color: rgb(187, 9, 9) !important;
}

.my_acc_logout{
  margin-top: auto;
  width: 100%;
  border-radius: 28px;
  --tw-bg-opacity: 1;
  background-color: rgb(104 125 107 / var(--tw-bg-opacity));
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(229 229 229 / var(--tw-text-opacity));
}

.tables_wrapper{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  background-color: #ffff;
  padding: 1rem;
  padding-top: 32px;
  .table_card{
    display: grid;
  }
  .table_card{
    height: 149px;
  }
  .table_card{
    width: 151px;
  }
  .table_card{
    background-repeat: no-repeat;
  }
  .table_card{
    text-align: center;
  }
  .table_card{
    align-items: center;
  }
  .table_card{
    justify-content: center;
  }
  .table_card{
    border-radius: 0.75rem;
  }
  .table_card{
    padding: 1rem;
  }
  .table_card{
    --tw-text-opacity: 1;
    color: rgb(229 229 229 / var(--tw-text-opacity));
  }
  .table_card{
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    grid-template-rows: 40% 60%;
    p{
      align-self: flex-end;
    }
    p{
      color: #ffff;
    }
    h5{
      align-self: flex-start;
    }
    h5{
      font-size: 12px;
    }
    h5{
      color: #ffff;
    }
  }
}

.reservation_form{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
  display: flex;
  width: 370px;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(231 231 231 / var(--tw-bg-opacity));
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  input{
    width: 100%;
  }
  input{
    border-radius: 28px;
  }
  input{
    --tw-bg-opacity: 1;
    background-color: rgb(242 242 242 / var(--tw-bg-opacity));
  }
  input{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  input{
    padding-left: 18px;
    padding-right: 18px;
  }
  p{
    width: 100%;
  }
  p{
    border-radius: 28px;
  }
  p{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  p{
    padding-left: 18px;
    padding-right: 18px;
  }
  .primary-button{
    margin: auto;
  }
  .focused_table{
    align-self: flex-end;
  }
  .focused_table{
    border-radius: 0.75rem;
  }
  .focused_table{
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    p{
      margin: auto;
    }
    p{
      text-align: center;
    }
    p{
      font-size: 22px;
    }
    p{
      --tw-text-opacity: 1;
      color: rgb(229 229 229 / var(--tw-text-opacity));
    }
  }
  .button_cancel_reservation{
    margin: auto;
  }
  .button_cancel_reservation{
    --tw-bg-opacity: 1;
    background-color: rgb(153 27 27 / var(--tw-bg-opacity));
  }
  .button_cancel_reservation{
    --tw-text-opacity: 1;
    color: rgb(229 229 229 / var(--tw-text-opacity));
  }
}

.reservation_page_wrapper{
  .title{
    background-color: #ffff;
  }
  .title{
    padding-top: 57px;
  }
  .title{
    text-align: center;
  }
  .title{
    font-size: 32px;
  }
}

.arrow_focused_table_wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.focused_table{
  height: 150px;
  width: 150px;
}

.back_arrow_reservation_modal{
  width: 40px;
}

.ant-modal-content {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0% !important;
}

footer{
  margin-top: 0.75rem;
}

.footer_info{
  display: flex;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
  --tw-text-opacity: 1;
  color: rgb(253 245 245 / var(--tw-text-opacity));
  font-size: 12px;
  font-weight: 400;
}

.footer_info_logo{
  display: flex;
  width: 58%;
  flex-direction: column;
  gap: 10px;
  a{
    max-width: 87px;
  }
  p{
    max-width: 150px;
  }
}

.footer_social{
  display: flex;
  width: 42%;
  gap: 16px;
  padding-top: 10px;
  img{
    max-width: 35px;
  }
}

.signup_form{
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  height: 100%;
  width: 320px;
  flex-direction: column;
  gap: 24.5px;
}

.form_inputs_wrapper{
  display: flex;
  flex-direction: column;
  gap: 12.24px;
  input{
    border-radius: 28px;
  }
  input{
    border-width: 1px;
  }
  input{
    --tw-border-opacity: 1;
    border-color: rgb(104 125 107 / var(--tw-border-opacity));
  }
  input{
    --tw-bg-opacity: 1;
    background-color: rgb(229 229 229 / var(--tw-bg-opacity));
  }
  input{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  input{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  input:focus{
    --tw-border-opacity: 1;
    border-color: rgb(104 125 107 / var(--tw-border-opacity));
  }
  @media (min-width: 768px){
    input:focus{
      --tw-ring-opacity: 1;
      --tw-ring-color: rgb(104 125 107 / var(--tw-ring-opacity));
    }
  }
  input{
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  input{
    transition-duration: 500ms;
  }
  input{
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  input:active{
    --tw-bg-opacity: 1;
    background-color: rgb(85 102 88 / var(--tw-bg-opacity));
  }
  @media (min-width: 768px){
    input:hover{
      --tw-scale-x: 1.05;
      --tw-scale-y: 1.05;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
  }
}

.buttons_wrapper{
  display: flex;
  flex-direction: column;
  gap: 14px;
  button{
    border-radius: 28px;
  }
  button{
    --tw-bg-opacity: 1;
    background-color: rgb(104 125 107 / var(--tw-bg-opacity));
  }
  button{
    padding-top: 17.5px;
    padding-bottom: 17.5px;
  }
  button{
    --tw-text-opacity: 1;
    color: rgb(253 245 245 / var(--tw-text-opacity));
  }
  button{
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  button{
    transition-duration: 500ms;
  }
  button{
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  button {
    &:first-child{
      --tw-bg-opacity: 1;
      background-color: rgb(104 125 107 / var(--tw-bg-opacity));
    }
    &:first-child{
      --tw-text-opacity: 1;
      color: rgb(253 245 245 / var(--tw-text-opacity));
    }
    @media (min-width: 768px){
      &:first-child:hover{
        --tw-bg-opacity: 1;
        background-color: rgb(85 102 88 / var(--tw-bg-opacity));
      }
    }
    @media (min-width: 768px){
      &:first-child:active{
        --tw-bg-opacity: 1;
        background-color: rgb(68 81 71 / var(--tw-bg-opacity));
      }
    }
    &:not(:first-child){
      border-width: 1px;
    }
    &:not(:first-child){
      --tw-border-opacity: 1;
      border-color: rgb(104 125 107 / var(--tw-border-opacity));
    }
    &:not(:first-child){
      --tw-bg-opacity: 1;
      background-color: rgb(253 245 245 / var(--tw-bg-opacity));
    }
    &:not(:first-child){
      font-weight: 700;
    }
    &:not(:first-child){
      --tw-text-opacity: 1;
      color: rgb(104 125 107 / var(--tw-text-opacity));
    }
    @media (min-width: 768px){
      &:not(:first-child):hover{
        --tw-bg-opacity: 1;
        background-color: rgb(104 125 107 / var(--tw-bg-opacity));
      }
    }
    @media (min-width: 768px){
      &:not(:first-child):hover{
        --tw-text-opacity: 1;
        color: rgb(253 245 245 / var(--tw-text-opacity));
      }
    }
    @media (min-width: 768px){
      &:not(:first-child):active{
        --tw-bg-opacity: 1;
        background-color: rgb(85 102 88 / var(--tw-bg-opacity));
      }
    }
  }
  a{
    border-radius: 28px;
  }
  a{
    border-width: 1px;
  }
  a{
    --tw-border-opacity: 1;
    border-color: rgb(104 125 107 / var(--tw-border-opacity));
  }
  a{
    --tw-bg-opacity: 1;
    background-color: rgb(253 245 245 / var(--tw-bg-opacity));
  }
  a{
    padding-top: 17.5px;
    padding-bottom: 17.5px;
  }
  a{
    text-align: center;
  }
  a{
    font-weight: 700;
  }
  a{
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  a{
    transition-duration: 500ms;
  }
  a{
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  a:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(104 125 107 / var(--tw-bg-opacity));
  }
  a:hover{
    --tw-text-opacity: 1;
    color: rgb(253 245 245 / var(--tw-text-opacity));
  }
  a:active{
    --tw-bg-opacity: 1;
    background-color: rgb(85 102 88 / var(--tw-bg-opacity));
  }
}

.about_us_wrapper{
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  .text_block_wrapper{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
  .slider_wrapper{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
  .primary-button{
    margin: auto;
  }
  .primary-button{
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .primary-button{
    max-width: 380px;
  }
  .info_card{
    --tw-bg-opacity: 1;
    background-color: rgb(217 217 217 / var(--tw-bg-opacity));
  }
}

.our_values_wrapper{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(253 245 245 / var(--tw-bg-opacity));
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 22px;
  padding-right: 22px;
}

.values_card{
  display: flex;
  height: 96px;
  align-items: center;
  gap: 1rem;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  img{
    height: 40px;
  }
  img{
    width: 40px;
  }
}

/*
! tailwindcss v3.4.10 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}