.slider_wrapper{
    @apply bg-very-light-gray pt-[22px] flex flex-col justify-center pb-6;
    .slider{
        @apply w-[90%] m-auto flex flex-col justify-center;
        .slick-prev::before,
            .slick-next::before {
                color: black;
                opacity: 0.7;
                font-size: 30px;
            }
        .slick-prev{
            left: -25px !important;
        }
        .slick-next{
            right: -16px !important;

                }
        .slide{
            display: flex !important;
            justify-content: end !important;
            width: 151px !important;
            
        }
        .slick-list{
            margin-left: 13px !important;
        }
    }

}